*.iml
data/
target/
.idea/
.DS_Store
BackEnd/.DS_Store
BackEnd/Service/.DS_Store
BackEnd/Service/src/.DS_Store
BackEnd/Service/src/main/.DS_Store
BackEnd/Service/src/main/java/.DS_Store
BackEnd/Service/src/main/java/eventssc/.DS_Store
